<!DOCTYPE html>
<html>
<head>
	<title>AngularJS</title>
</head>
<body ng-app="LearningApp">
	<!-- <hello-world remember-me="false"></hello-world> -->
	<div ng-controller="mainCtrl">
		<h1>Simple Todo</h1>
			<button ng-click="helloMethod()">Test Button</button><br /><br />
		<div ng-controller="helloCtrl">
			<button ng-click="helloMethod()">Add</button>
			<button ng-click="mainMethod()">Edit</button>
			<button>Delete</button>
		</div>
	</div>
	<script src="vendor/angular.js"></script>
	<script src="app/assignment.js"></script>
	<script src="app/app.js"></script>
	<script src="app/AnotherApp.js"></script>
</body>
</html>