<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="todolist not-done">
                 <h1>Todos</h1>
                    <input type="text" ng-model="todoItem" class="form-control add-todo" placeholder="Add todo"> {{ todoItem }}
                        <button id="checkAll" ng-click="addItemTodo()" class="btn btn-success">Add to todo List</button>
                        
                        <hr>
                        <ul id="sortable" class="list-unstyled">
                        <li class="ui-state-default" ng-repeat="item in lists">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="" />{{ item }}</label>
                            </div>
                        </li>
                    </ul>
                    <div class="todo-footer">
                        <strong><span class="count-todos"></span></strong> Items Left
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="todolist">
                 <h1>Already Done</h1>
                    <ul id="done-items" class="list-unstyled">
                        <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>